/.claude
/.editorconfig
/.plastic
/.vscode
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/FCC.slnx
/ignore.conf
/ignore.conf.meta
/Library
/Logs
/Temp
/Unity.InputSystem.csproj
/Unity.InputSystem.DocCodeSamples.csproj
/Unity.InputSystem.ForUI.csproj
/Unity.InputSystem.IntegrationTests.csproj
/Unity.InputSystem.TestFramework.csproj
/UserSettings